
header {
	position: fixed;
	margin-top: -110px;
	width: 100%;
	z-index: 999;
	background-color: white;
}

.carUsers{
	margin: 110px auto;
	width: 100%;
}

.cards {
	margin-top: 100px;
	width: 100%;
}

.card {
	width: 18rem;
	height: 462px;
	float: left;
}