
header {
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: white;
}

.carUsers{
	position: relative;
	margin: 110px auto;
	width: 100%;
}

.cards {
	margin-top: 100px;
	width: 100%;
}

.card {
	height: 462px;
	float: left;
}

.message{
	background-color: yellow;
	border-radius: 15px; 
}